body {
  background-color: #4C555C;
  color: white;
}
#nav-bar li {
    float: right;
}

#nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav-bar li a:hover {
  background-color: #E0BFAC;
}

#nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #838C9D;
}

#main {
  width: 100%;
  height: 70%;
  margin-top: 5%;
}

.cat1{
  width: 80%;
  margin-left: 18%;
}


#img{
    float:left;
    border-radius: 5%;
    margin-right: 3%;
    margin-bottom: 3%
}

.clear{
        clear:both;
}

h1{
  text-align: center;
}
