p a  {
    color: white;
}

body {
  background-color: #4C555C;
  color: white;
}

#create-button {
  background-color: #972E32;
  border-radius: 10px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 60px;
}

#create-button p {
  font-size: 12pt;
  padding: 10px;
  text-align: center;
}

header {
  background-image: url("images/background.jpg");
  text-align: center;
  height: 450px;
  width: 100%;
}

header > span{
  color: #4C555C;
  display: block;
  padding: 50px;
  text-decoration: underline;
}

header span, #create-button {
  font-size: 48pt;
}

.events {
    font-size: 150%;
    background-color: #972E32;
    color: white;
    margin-left: auto;
    margin-left: auto;
}

.events img {
    height: 15%;
    width: 20%;
    float: left;
}

#nav-bar li {
    float: right;
}

#nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav-bar li a:hover {
  background-color: #E0BFAC;
}

#nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #838C9D;
}

#upcoming {
    text-align: center;
    font-size: 30pt;
    text-decoration: underline;
}
